@import "../../_variables.scss";

.row {
  display: flex;
  padding: 10px;
  gap: 20px;
  justify-content: space-between;
  &:hover {
    background-color: $primary-color;
  }
}

.col {
  padding: 0 30px;
  flex: 1;
}

.table {
  height: 900px;
  overflow: auto;
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  background-color: $dark-gray;
}

.tableContainer {
  width: 60%;
}

.noSearchResults {
  width: 100%;
  text-align: center;
}

.tableHeader {
  background-color: $secondary-color;
  .row {
    &:hover {
      background-color: transparent;
    }
  }
  .col {
    padding: 0 20px;
  }
}
