@use "../../_variables.scss" as *;

.row {
  display: flex;
  padding: 10px;
  gap: 20px;
  justify-content: space-between;
  &:hover {
    background-color: $primary-color;
  }
}

.col {
  padding: 0 30px;
  flex: 1;
}

.table {
  max-height: 70vh;
  height: auto;
  overflow: auto;
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  background-color: $dark-gray;
}

.light-mode .table {
  background-color: $white-secondary-background;
}

.table-container {
  width: 100%;
}

.noSearchResults {
  width: 100%;
  text-align: center;
}

.light-mode .table-header {
  background-color: $white-dark-gray;
}
.table-header {
  background-color: $secondary-color;
  .row {
    &:hover {
      background-color: transparent;
    }
  }
  .col {
    padding: 0 20px;
  }
}

@media (max-width: 900px) {
  .table-container {
    width: 100%;
  }
  .table {
    max-height: 50vh;
  }
}
