
$primary-color: #1B9AFF;
$secondary-color: #FF9E2C;
$primary-background: #242424;
$seconday-background: #fafafa;
$text-color: #fff;
$dark-text: #708090;
$dark-gray: #222222;

$white-primary-color: #1B9AFF;
$white-secondary-color: #FF9E2C;
$white-primary-background: #ffffff;
$white-secondary-background: #f0f0f0;
$white-text-color: #000;
$white-dark-text: #333333;
$white-dark-gray: #cccccc;